.CFUserTextEncoding
.DS_Store
.TheBrain/
.Trash/
.android/
.bash_sessions/
.cache/
.ccache/
.cups/
.dvdcss/
.elan/
.emulator_console_auth_token
.gnuplot_history
.gradle/
.lesshst
.local/
.m2/
.mono/
.nix-profile
.node-gyp/
.npm/
.oracle_jre_usage/
.sbt/
.ssh/
.stack/
.viminfo
.vpython-root/
.vpython_cipd_cache/
.vscode/
.wget-hsts
Applications/
Desktop/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
bazel-bin
bazel-out
bazel-testlogs
poze-Gabi/
tmp/

*.png
*.log
*.out
*.swp
*.mp4

.bash_history
.gitconfig
.history
.python_history
Calibre Library/
alocatie
devcon/devcon
runtime-verification/
research/always-finally/

